:root{
    --primary-gray: #545454;
    --primary-orange: #ff9900;
    --primary-yellow: #ffd700;
}

#MainTitle{
    color: var(--primary-yellow);
    font-size: 70px;
}

.topbar-background{
    height: 15vh;
    background-color: var(--primary-gray);
    padding: 0 1rem;
    border-bottom-right-radius: 15px; 
    border-bottom-left-radius: 15px;
}

.topbar-content{
    height: 15vh;
    align-items: center;
}

.icon-circle{
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-icon{
    font-size: 2.5rem;
    color: var(--primary-yellow);
}

.Star-icon{
    color: var(--primary-yellow);
    font-size: 3.5rem;
}