:root{
    --primary-darkgray: #545454;
    --primary-orange: #ff9900;
    --primary-yellow: #ffd700;
    --primary-gray: #B2B2B2;
    --primary-black: #000000;
    --primary-lightgray: #D9D9D9;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#MainTitle{
    color: var(--primary-yellow);
    font-size: 70px;
}

.topbar-background{
    height: 15vh;
    background-color: var(--primary-darkgray);
    padding: 0 1rem;
}

.midbar-background{
    height: 85vh;
    background-color: var(--primary-gray);
}

.topbar-content{
    height: 15vh;
    align-items: center;
}

.icon-circle{
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-icon{
    font-size: 2.5rem;
    color: var(--primary-yellow);
}

.Star-icon{
    color: var(--primary-yellow);
    font-size: 3.5rem;
}

.triangulo1{
    width: 0;
    height: 0;
    border-top: 500px solid var(--primary-lightgray);
    border-right: 300px solid transparent;
    transform: rotate(90deg);
    margin-top: -100px;
    margin-left: 1800px;
}

.triangulo2{
    width: 0;
    height: 0;
    border-top: 500px solid var(--primary-lightgray);
    border-right: 300px solid transparent;
    transform: rotate(-90deg);
    margin-left: 70px;
    margin-top: -173px;
}