#topbar-background{
    background-color: #ffde59;
    height: 15vh;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.topbar{
    height: 15vh;
}
.pesquisa{
    background-color: white;
}
#Voltar{
    margin: auto;
    background-color: white;
    border-radius: 100px;
    text-align: center;

}
.home{
    color: orange;
}
.back{
    color: orange;
    background-color: white;
}
.button{
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 100px;
    width: 40%;
}