*{
    margin: 0;
    padding: 0;
}

.amarelo{
    background-color: #ffd700;
}

.cima{
    height: 15vh;
}

.bemvindo{
    text-align: center;
    margin-top: -45px;
}

#barrapesquisa{
    margin-top: 37.5px;
    margin-left: 40px;
    width: 350px;
    text-align: center;
}

.links{
    text-decoration: none;
    color: black;

}

.botao{
    text-align: center;
    margin-top: 70px;
}

#Iconeuser{
    margin-top: 17.5px;
    margin-left: 75px;
}

.Iconemecanico{
    margin-top: 20px;
    margin-left: 25px;
}

#mecanico{
    margin-top: 0;
}

.Iconecalendario{
    margin-top: 20px;
    margin-left: 26px;
}

#Entrega{
    margin-top: 0;
}

.Iconeconfig{
    margin-top: 20px;
    margin-left: 26px;
}

#Config{
    margin-top: 0;
}

.titulos{
    margin-top: 50px;
}

.meiocima{
    height: 125px;
    margin-top: 10px;
}

.meiobaixo{
    height: 135px;
    margin-top: 25px;
}

.botaocima{
    width: 175px;
    margin-left: 15px;
    border-radius: 10px;
    text-align: center;
}

.botaocimafirst{
    width: 175px;
    border-radius: 10px;
    text-align: center;
}

.botaocimalast{
    margin-left: 15px;
    border-radius: 10px;
}

.botaobaixo{
    width: 175px;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.botaobaixofirst{
    width: 175px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.botaobaixolast{
    margin-left: 205px;
    border-radius: 10px;
    margin-top: 10px;
}

#servico{
    margin-top: 5px;
}

.favoriteicon{
    margin-top: 5px;
}

#favorite{
    margin-top: 10px;
}

.pedidoicon{
    margin-top: 5px;
}

.producticon{
    margin-top: 10px;
}

#produto{
    margin-top: 5px;
}

.carticon{
    margin: 5px;
}

#cart{
    margin-top: 1px;
}

#mecanicuserone{
    margin-top: 25px;
}

#mecanicone{
    margin-left: 95px;
    margin-top: -70px;
    font-size: 25px;
}

#mecaniconedesc{
    margin-left: 95px;
    margin-top: -17.5px;
}

#mecaniconerate{
    margin-left: 350px;
    margin-top: -52.5px;
    color: gray;
}

.footer{
    height: 100px;
    margin-top: 143px;
}

.footertext{
    margin-top: 60px;
}